<!DOCTYPE html>
<html>
<head>
<style>
body, html {
  height: 100%;
  margin: 0;
}
.background {
  background-image: url('final1.jpg');

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


* {
  box-sizing: border-box;
}

/* style the container */
.container1 {
  color:Black;
   text-align: center;
  border-radius: 5px;
  
  padding: 20px 0 30px 0;
} 


#bg {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}



</style>
        <title>confirmation page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
        </head>
    <body>
    <div class ="background">
         <div class="container1">
         
            <h1>Real Estate Application</h1>
            <h2>Confirmation Page</h2>
           
            <form method="POST" action="/payment" >
             
          <div id="bg">
          <h1> Your paymnet is confirmed</h1>
          </div>
          <br>
          <br>
          <br>
          
          
          
                
            </div>
        </body>
    </html>